extends ../layouts/common

block content
	h1 View user
	table(border= "1")
		tr
			th Name
			th Birthday
		tr
			td= user.name
			td=user.birthday
	


	// b Name
	// span &nbsp;
	// b Birthday
	// br
	// span= user.name
	// span= user.birthday
	//- table(border='1')
	//- 	tr
	//- 		th(width='300') User Name
	//- 		th(width='200') Birthday
	//- 		th(width='200') Gender
	//- 	tr
	//- 		td user.name
	//- 		td user.birthday
	//- 		td user.gender










